#image{
     text-align: center; 
    background-image: url("image.png");
    color: #30b415;
    height: 600px;
    width: 300px;
    background-repeat: no-repeat;
    vertical-align: bottom;
}
h1,h2,h3{
    color: #fff; 
}
i{
    color: rgb(48, 180, 21);
}
table{
    background-color: rgb(29, 29, 29);
    color: rgb(165, 165, 165);
}
